<h2> troubles in <%= @city %> </h2>

<% @troubles.each do |trouble| %>
  <% if trouble.city == @city %>
    <div>
      <h3> <%= trouble.name %> </h3>
      <strong> <%= trouble.location %> </strong> <br/>
      <strong> <%= trouble.description %> </strong>
      <strong> <%= link_to 'Show', trouble_path(trouble) %></strong>
      <strong> <%= link_to 'Edit', edit_trouble_path(trouble) %></strong>
      <strong> <%= link_to 'Destroy', trouble_path(trouble), method: :delete, data: {confirm: 'Are you sure?'} %></strong>
      <hr />
    </div>
  <% end %>
<% end %>