<h1>Listing every trouble in the city</h1>

<%= link_to 'Add a new trouble', new_trouble_path %>

<% @troubles.each do |trouble| %>
  <div>
    <h3> <%= trouble.name %> </h3>
    <strong> <%= trouble.location %> </strong> <br/>
    <strong> <%= trouble.description %> </strong>
    <strong> <%= link_to 'Show', trouble_path(trouble) %></strong>
    <strong> <%= link_to 'Edit', edit_trouble_path(trouble) %></strong>
    <strong> <%= link_to 'Destroy', trouble_path(trouble), method: :delete, data: {confirm: 'Are you sure?'} %></strong>
    <hr />
  </div>
<% end %>