<div class="container">
  <h1>Lista de probleme din intreaga tara</h1>
  <hr>

  <% @troubles.each do |trouble| %>
    <div>
      <h3> <%= link_to trouble.name, trouble_path(trouble) %> </h3>
      <strong> Oras: </strong> <%= link_to trouble.city.name, trouble.city %> <br/>
      <strong> Descriere: </strong> <%= trouble.description %> <br/>
      <% if current_user.mod %>
        <strong> <%= link_to 'Editeaza', edit_trouble_path(trouble) %></strong> |
        <strong> <%= link_to 'Sterge', trouble_path(trouble), method: :delete, data: {confirm: 'Esti sigur ca vrei sa stergi aceasta problema?'} %> </strong>
      <% end %>
    </div>
  <% end %>
</div>  
