<div class="container">
  <h1>Adauga o sesizare</h1>
  <hr>

  <%= gmaps(:markers => {"data" => @json},
            :map_options => { :detect_location => true, :center_on_user => true, :zoom => 8, "auto_zoom" => false}
            )%>

  <%= content_for :scripts do %>
      <script type="text/javascript" charset="utf-8">
        var markersArray = [];
        Gmaps.map.callback = function() {
          var marker = Gmaps.map.markers[0];
          if (marker) {
            // Move existing marker when editing a previously stored location
            google.maps.event.addListener(marker.serviceObject, 'dragend', function() {
              updateFormLocation(this.getPosition());
            });
          }

          // On click, clear markers, place a new one, update coordinates in the form
          google.maps.event.addListener(Gmaps.map.serviceObject, 'click', function(event) {
            clearOverlays();
            placeMarker(event.latLng);
            updateFormLocation(event.latLng);
          });
        };
        // Update form attributes with given coordinates
        function updateFormLocation(latLng) {
          $('#trouble_latitude').val(latLng.lat());
          $('#trouble_longitude').val(latLng.lng());
          $('#centre_gmaps_zoom').val(Gmaps.map.serviceObject.getZoom());
        }
        // Add a marker with an open infowindow
        function placeMarker(latLng) {
          var marker = new google.maps.Marker({
            position: latLng, 
            map: Gmaps.map.serviceObject,
            draggable: true
          });
          markersArray.push(marker);
          // Set and open infowindow
          var infowindow = new google.maps.InfoWindow({
            content: '<div class="popup"><h2>Aceasta este locatia aleasa</h2><p>Puteti muta cursorul in orice loc de pe harta.</p>'
          });
          infowindow.open(Gmaps.map.serviceObject, marker);
          // Listen to drag & drop
          google.maps.event.addListener(marker, 'dragend', function() {
            updateFormLocation(this.getPosition());
          });
        }
        // Removes the overlays from the map, including the ones loaded with the map itself
        function clearOverlays() {
          for (var i = 0; i < markersArray.length; i++ ) {
            markersArray[i].setMap(null);
          }
          markersArray.length = 0;

          for (var i = 0; i < Gmaps.map.markers.length; i++ ) {
            Gmaps.map.clearMarker(Gmaps.map.markers[i]);
          }
        }
      </script>
  <% end %>


  <%= form_for :trouble, url: troubles_path, :html => { :multipart => true, :class => "form-horizontal new-trouble-form"} do |f| %>
    <% if @trouble.errors.any? %>
      <div id="errorExplanation">
        <h2><%= pluralize(@trouble.errors.count, "error") %> prohibited this post from being saved</h2>
        <ul>
          <% @trouble.errors.full_messages.each do |msg| %>
            <li> <%= msg %> </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :city_id, 'Oras', class: "col-md-2 control-label" %>
      <div class="col-md-10">
        <%= f.collection_select :city_id, City.order(:name),:id, :name, :prompt => "Selecteaza un oras" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :severity, 'Gravitate', class: "col-md-2 control-label" %>
      <div class="col-md-10">
        <%= f.select(:severity, 
          options_for_select(
            [['Grav', 'Grav'], 
            ['Mediu', 'Mediu'], 
            ['Usor', 'Usor']])) 
        %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :name, 'Titlul sesizarii', class: "col-md-2 control-label" %>
      <div class="col-md-10">
        <%= f.text_field :name, class: "form-control", placeholder: "Titlu" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :description, 'Descriere', class: "col-md-2 control-label" %>
      <div class="col-md-10">
        <%= f.text_area :description, class: "form-control", placeholder: "Descriere" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :author, 'Numele dvs. complet', class: "col-md-2 control-label" %>
      <div class="col-md-10">
        <%= f.text_field :author, class: "form-control", placeholder: "Nume si prenume" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :photo, class: "col-md-2 control-label" %>
      <div class="col-md-10">
        <%= f.file_field :photo %>
      </div>
    </div>


    <div class="form-group trouble-address-input">
      <%= f.label :address, 'Adresa', class: "col-md-2 control-label" %>
      <div class="col-md-10">
        <%= f.text_field :address, class: "form-control", placeholder: "Adresa" %>
      </div>
    </div>

    <%#= f.label :latitude, 'Latitudine' %>
    <%#= f.text_field :latitude %>

    <%#= f.label :longitude, 'Longitudine' %>
    <%#= f.text_field :longitude %>

    <div class="col-md-offset-2 col-md-2">
      <%= button_tag(:class => "btn btn-primary btn-block submit-trouble") do %>
        <i class="fa fa-arrow-right"></i>
       Trimite sesizarea
      <% end %>
    </div>
    <div class="clearfix"></div>
  <% end %>

  
  <%= yield :scripts %>

  <script type="text/javascript">
    $("#trouble_city_id option").click(function(){
      // val = $("#trouble_city_id option:selected").text();
      // alert($("#trouble_city_id option:selected").text());
      $("#trouble_address").val($("#trouble_city_id option:selected").text());
    });
  </script>

</div>
