<h1>New</h1>

<%= form_for :trouble, url: troubles_path, :html => { :multipart => true } do |f| %>
  <% if @trouble.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@trouble.errors.count, "error") %> prohibited this post from being saved</h2>
      <ul>
        <% @trouble.errors.full_messages.each do |msg| %>
          <li> <%= msg %> </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name, 'Nume' %>
  <%= f.text_field :name %> <br/>

  <%= f.label :location %>
  <%= f.text_field :location %> <br/>

  <%= f.label :description, 'Descriere' %>
  <%= f.text_field :description %> <br/>

  <%= f.label :latitude, 'Latitudine' %>
  <%= f.text_field :latitude %> <br/>

  <%= f.label :longitude, 'Longitudine' %>
  <%= f.text_field :longitude %> <br/>

  <%= f.label :address, 'Adresa' %>
  <%= f.text_field :address %> <br/>

  <%= f.collection_select :city_id, City.order(:name),:id, :name, :prompt => "Selecteaza un oras" %>

  <%= f.file_field :photo %>

  <%= f.submit %>
<% end %>

<%= gmaps(:markers => {"data" => @json},
          :map_options => { :detect_location => true, :center_on_user => true, :zoom => 8, "auto_zoom" => false}
          )%>

<%= content_for :scripts do %>
    <script type="text/javascript" charset="utf-8">
      var markersArray = [];
      Gmaps.map.callback = function() {
        var marker = Gmaps.map.markers[0];
        if (marker) {
          // Move existing marker when editing a previously stored location
          google.maps.event.addListener(marker.serviceObject, 'dragend', function() {
            updateFormLocation(this.getPosition());
          });
        }

        // On click, clear markers, place a new one, update coordinates in the form
        google.maps.event.addListener(Gmaps.map.serviceObject, 'click', function(event) {
          clearOverlays();
          placeMarker(event.latLng);
          updateFormLocation(event.latLng);
        });
      };
      // Update form attributes with given coordinates
      function updateFormLocation(latLng) {
        $('#trouble_latitude').val(latLng.lat());
        $('#trouble_longitude').val(latLng.lng());
        $('#centre_gmaps_zoom').val(Gmaps.map.serviceObject.getZoom());
      }
      // Add a marker with an open infowindow
      function placeMarker(latLng) {
        var marker = new google.maps.Marker({
          position: latLng, 
          map: Gmaps.map.serviceObject,
          draggable: true
        });
        markersArray.push(marker);
        // Set and open infowindow
        var infowindow = new google.maps.InfoWindow({
          content: '<div class="popup"><h2>Awesome!</h2><p>Drag me and adjust the zoom level.</p>'
        });
        infowindow.open(Gmaps.map.serviceObject, marker);
        // Listen to drag & drop
        google.maps.event.addListener(marker, 'dragend', function() {
          updateFormLocation(this.getPosition());
        });
      }
      // Removes the overlays from the map, including the ones loaded with the map itself
      function clearOverlays() {
        for (var i = 0; i < markersArray.length; i++ ) {
          markersArray[i].setMap(null);
        }
        markersArray.length = 0;

        for (var i = 0; i < Gmaps.map.markers.length; i++ ) {
          Gmaps.map.clearMarker(Gmaps.map.markers[i]);
        }
      }
    </script>
<% end %>

<%= yield :scripts %>
