<h1><%= @trouble.name %>, <%= @trouble.city.name %></h1>


<!-- <strong>lat:</strong> -->
<%#= number_with_precision(@trouble.latitude, :precision => 14) %> <br/>

<!-- <strong>long:</strong> -->
<%#= number_with_precision(@trouble.longitude, :precision => 14) %> <br/>

<strong>Location:</strong>
<%= @trouble.location %> <br/>

<strong>Description:</strong>
<%= @trouble.description %> <br/>

<strong>Address:</strong>
<%= @trouble.address %> <br/>

<% if @trouble.photo.url != "Missing" %>
  <%= link_to image_tag(@trouble.photo.url(:medium)), @trouble.photo.url %> <br/>
<% end %>

<strong> <%= link_to 'Back to the trouble list', troubles_path %> </strong> |
<strong> <%= link_to 'Edit', edit_trouble_path(@trouble) %></strong>

<%= gmaps(:map_options => { :raw => "{minZoom: 2}"},
          :markers => {"data" => @json}) %>
<%= yield :scripts %>


<%= link_to "Vezi toate problemele din #{@trouble.city.name}", @trouble.city  %> <br/>

<% if current_user %>
  <h2>Add a comment</h2>
  <%= render 'comments/form' %>
<% else %>
  <p>You need to log in (or <%= link_to "register", "/auth/identity/register" %> if you don't have an account), in order to post comments.</p>
<% end %>

<h2>Comments</h2>
<%= render @trouble.comments %>
