<h1>Here's your trouble</h1>
<strong>Name:</strong>
<%= @trouble.name %> <br/>

<strong>City:</strong>
<%= link_to @trouble.city.name, @trouble.city %> <br/>

<strong>Location:</strong>
<%= @trouble.location %> <br/>

<strong>Description:</strong>
<%= @trouble.description %> <br/>

<strong>Address:</strong>
<%= @trouble.address %> <br/>

<% if @trouble.photo.url != "Missing" %>
  <%= link_to image_tag(@trouble.photo.url(:medium)), @trouble.photo.url %> <br/>
<% end %>

<strong> <%= link_to 'Back to the trouble list', troubles_path %> </strong> |
<strong> <%= link_to 'Edit', edit_trouble_path(@trouble) %></strong>

<%= gmaps(:map_options => { :raw => "{minZoom: 3}"},
          :markers => {"data" => @json}) %>
<%= yield :scripts %>

<% if current_user %>
  <h2>Add a comment</h2>
  <%= render 'comments/form' %>
<% else %>
  <p>You need to log in (or <%= link_to "register", "/auth/identity/register" %> if you don't have an account), in order to post comments.</p>
<% end %>

<h2>Comments</h2>
<%= render @trouble.comments %>
