<h1>Here's your trouble</h1>
<strong>Name:</strong>
<%= @trouble.name %> <br/>

<strong>City:</strong>
<%= @trouble.city %> <br/>

<strong>Location:</strong>
<%= @trouble.location %> <br/>

<strong>Description:</strong>
<%= @trouble.description %> <br/>

<strong>Address:</strong>
<%= @trouble.address %> <br/>

<strong> <%= link_to 'Back to the trouble list', troubles_path %> </strong> |
<strong> <%= link_to 'Edit', edit_trouble_path(@trouble) %></strong>



<%= gmaps4rails(@json) %>
<%= yield :scripts %>

<h2>Add a comment</h2>
<%= render 'comments/form' %>

<h2>Comments</h2>
<%= render @trouble.comments %>
