<div class="container">
  <div class="pull-right">
    <%= link_to @trouble.city do %>
      Vezi toate sesizarile din <%= @trouble.city.name %>
      <i class="fa fa-angle-double-right"></i>
    <% end %>
  </div>
  <h1><%= @trouble.name %>, <%= @trouble.city.name %></h1>
  <hr>

  <!-- <strong>lat:</strong> -->
  <%#= number_with_precision(@trouble.latitude, :precision => 14) %> 

  <!-- <strong>long:</strong> -->
  <%#= number_with_precision(@trouble.longitude, :precision => 14) %>

  <!-- <strong>Address:</strong>
  <%= @trouble.address %> <br/> -->

  <% if current_user.mod %>
    <strong> <%= link_to 'Edit', edit_trouble_path(@trouble) %></strong> <br>
  <% end %>

  <strong>Descriere:</strong>
  <%= @trouble.description %> <br/>

  <strong>Gravitate:</strong>
  <%= @trouble.severity %> <br/>

  <% if @trouble.photo.url != "Missing" %>
    <%= link_to image_tag(@trouble.photo.url(:medium)), @trouble.photo.url %> <br/>
  <% end %>


</div>

<%= gmaps(:map_options => { :raw => "{maxZoom: 12}", :container_class => "city-map"},
          :markers => {"data" => @json}
          ) %>
<%= yield :scripts %>

<div class="container">

  <% if current_user %>
    <h2>Add a comment</h2>
    <hr>
    <%= render 'comments/form' %>
  <% else %>
    <p>Este nevoie sa te loghezi (sau <%= link_to "sa te inregistrezi", "/auth/identity/register" %> daca nu ai deja un cont), pentru a putea posta comentarii.</p>
  <% end %>

  <h2>Comments</h2>
  <%= render @trouble.comments %>
</div>
