<h1>Inregistrare</h1>

<%= form_tag "/auth/identity/register" do %>
  <% if @identity && @identity.errors.any? %>
    <div class="error_messages">
      <h3><%= pluralize(@identity.errors.count, "error") %></h3>
      <ul>
        <% @identity.errors.full_messages.each do |msg| %>
          <li><%= msg %></li> 
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= label_tag :name, 'Nume' %>
  <%= text_field_tag :name, @identity.try(:name) %> <br/>

  <%= label_tag :email, 'Email' %>
  <%= text_field_tag :email, @identity.try(:email) %> <br/>

  <%= label_tag :password, 'Parola' %>
  <%= password_field_tag :password %> <br/>

  <%= label_tag :password_confirmation, 'Confirmati parola' %>
  <%= password_field_tag :password_confirmation %> <br/>

  <%= submit_tag "Inregistrati-va" %>

<% end %>