<!DOCTYPE html>
<html>
<head>
  <title>Troublemap</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <%if current_user %>
    Welcome <%= current_user.name %>!
    <%= link_to "Sign out", signout_path %>
  <% else %>
    <%= link_to "sign in with twitter", "/auth/twitter" %> |
    <%= link_to "sign in with facebook", "/auth/facebook" %>
  <% end %>
</header>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= yield %>

</body>
</html>
