<!DOCTYPE html>
<html>
<head>
  <title>Troublemap</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <nav>
    <%= link_to "Acasa", root_path %> |
    <%= link_to "Toate problemele", troubles_path %> |
    <%= link_to "Orase", cities_path %> |
    <%= link_to "Adauga oras", new_city_path %> |
    <%= link_to "Adauga problema", new_trouble_path %> |
  </nav>
  <div class="user_login_area">
    <%if current_user %>
      Welcome <%= current_user.name %>!
      <%= link_to "Deconectare", signout_path %>
    <% else %>
      <%= link_to "Autentificare cu twitter", "/auth/twitter" %> |
      <%= link_to "Autentificare cu facebook", "/auth/facebook" %> |
      <%= link_to "Inregistrare", new_identity_path %> sau
      <div>
        <%= form_tag "/auth/identity/callback" do %>
          <%= label_tag :auth_key, "Email" %>
          <%= text_field_tag :auth_key %> <br/>
          <%= label_tag :password, "Parola" %>
          <%= text_field_tag :password %> <br/>
          <%= submit_tag "Conectare" %>
        <% end %>
      </div>
    <% end %>
  </div>
</header>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= yield %>

</body>
</html>
